%nav.navigation{role: 'navigation'}
  = link_to(t("administrate.dashboard"),
      admin_root_path,
      class: 'navigation__link navigation__link--dashboard',
      style: controller_name == 'dashboard' && 'font-weight: 700')

  - DashboardManifest::DASHBOARDS.each do |resource|
    = link_to(t("administrate.collections.#{resource.to_s.pluralize}").classify,
        [:admin, resource],
        class: "navigation__link navigation__link")
