!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: '', name: 'author' }
    %meta{ content: 'Центр Развития «Эра Водолея»', name: 'title' }

    = stylesheet_link_tag 'application', media: 'all'

    = csrf_meta_tags
    = csp_meta_tag

  %body.com_content.view-category.task-.itemid-101.body__
    #wrapper
      -#.wrapper-inner
        -##navigation-row
        -#  .row-container
        -#    .container-fluid
        -#      .row-fluid
        -#        %nav.moduletable.navigation.span12
        -#          %a.btn.btn-navbar.btn-sf-menu
        -#            %span.fa.fa-bars
        -#          %ul#module-93.sf-menu.sticky.sf-js-enabled.sf-arrows
        -#            %li.item-101.current.firstItem
        -#              %a
        -#                Главная
        -#              %li
        -#                %a
        -#                  О нас
        -#              %li
        -#                %a
        -#                  Отзывы
        -#              %li
        -#                %a
        -#                  Расписание
        -#              %li
        -#                %a
        -#                  Мероприятия
        -#              %li
        -#                %a
        -#                  Контакты
      = yield
